@model SellerProduct.Models.User

@{
    ViewData["Title"] = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DangNhap</h1>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "UserName" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        <input type="submit" @*name="submit" *@class="btn btn-primary" value="DangNhap" />
                    </div>
                }
                @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                    <span class="text-danger">
                    @ViewBag.Mess
                    </span>
            }
            </div>
        </div>
    </div>
</div>


