@model SellerProduct.ViewModels.LoginModels

@{
    ViewData["Title"] = "DangNhap419";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DangNhap419</h1>

<h4>LoginModels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DangNhap419">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(ViewBag.MessKiTUDB))
                {
                        <span class="text-danger">
                            @ViewBag.MessKiTUDB
                        </span>
                }
            @if (!string.IsNullOrEmpty(ViewBag.Mess))
            {
                    <span class="text-danger">
                    @ViewBag.Mess
                    </span>
            }
            @Html.HiddenFor(x => x.ReturnUrl)
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
               @* @if (!string.IsNullOrEmpty(ViewBag.MessKiTUDB))
                {
                        <span class="text-danger">
                            @ViewBag.MessKiTUDB
                        </span>
                }
                @if (!string.IsNullOrEmpty(ViewBag.Mess))
            {
                    <span class="text-danger">
                    @ViewBag.Mess
                    </span>
            }*@
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RememberLogin" /> @Html.DisplayNameFor(model => model.RememberLogin)
                    </label>
                </div>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-dark">Login</button>
            
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
